@define-color accent #393939;
@define-color text #F4F4F4;
@define-color invText #F4F4F4;
/* text when background is accent */
@define-color bg #161616;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  border-radius: 0px;
  min-height: 0px;
}

window#waybar {
  background-color: @accent;
  color: @text;
  opacity: 1;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  padding: 0 10px;
  color: @text;
}

#workspaces button.active {
  background-color: @accent;
  color: @invText;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray,
#custom-icon {
  background-color: transparent;
  color: @text;
  margin: 0px;
}


.modules-left {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}

#window {
  color: @invText;
  background-color: @accent;
  padding-left: 4px;
}

.modules-right {
  background-color: @bg;
  padding: 0px 0px 0px 0px;
}
