#root.root {
  --tabs-audio-btn-width: 12px;
  --tabs-inner-gap: 12px;
  --ntb-btn-height: 44px;
  --nav-btn-width: 44px;
}

/* -------------- AUTO HIDE -------------- */

.Tab[data-lvl="0"],
.pointer[data-lvl="0"] {
  --tree-lvl: 0;
}

.Tab[data-lvl="1"],
.pointer[data-lvl="1"] {
  --tree-lvl: 1;
}

.Tab {
  right: calc(var(--tabs-indent) * var(--tree-lvl));
  transition: right 100ms ease;
}

.ScrollBox:hover .Tab {
  right: 0px;
}

.ScrollBox:not(:hover) .Tab {
  --tabs-activated-bg: none;
}

#root {
  --tabs-font: 9pt;
  --tabs-count-font: 0.625rem;
  --bookmarks-bookmark-font: 0.875rem;
  --bookmarks-folder-font: 9pt;
  --nav-btn-width: 44px;
  --nav-btn-height: 44px;
}

/* Adjust styles according to sidebar width */
@media screen and (max-width: 47px) {
  #root {
    --tabs-indent: unset;
  }

  .Tab[data-audible]:not([data-muted]) svg.-loud,
  .Tab[data-muted] svg.-mute {
    transform: translateY(4px) translateX(-13px);
  }

  .NavigationBar .panel-btn:not([data-active="true"]),
  .Sidebar .settings-btn,
  .Tab .close,
  .Tab .title {
    visibility: collapse;
  }

  .Tab .exp,
  .Tab[data-parent][data-folded] .fav {
    pointer-events: none;
  }
}

/* Add margins and rounding around tabs */

#root {
  --tabs-height: 44px;
}

/* Background layer */
.Tab .lvl-wrapper:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 6px);
  border-radius: 4px;
  z-index: -1;
}

/* Resize and reposition favicons */
.Tab .fav {
  margin-left: 15px;
}

.Tab .fav,
.Tab .placeholder,
.Tab .t-box {
  margin-bottom: -3px;
}

.TabsPanel .container {
  box-shadow: none;
}

.Sidebar::before {
  --border-margin: 16px;
  content: "";
  width: calc(100% - var(--border-margin));
  margin: 0 calc(var(--border-margin) / 2);
  border-top: 1px solid var(--chrome-content-separator-color);
}

.Tab .audio {
  left: 20px !important;
  top: 10px !important;
  z-index: 21 !important;
  transform: translateX(5px);
}

.Tab .close {
  margin-right: 0 5px;
}

.Tab .t-box {
  width: calc(100% - 50px);
}

.Tab[data-audible="true"] .t-box,
.Tab[data-muted="true"] .t-box,
.Tab[data-paused="true"] .t-box {
  transform: translateX(0px);
}

#root[data-nav-layout="horizontal"] .NavigationBar,
#root[data-nav-layout="hidden"] .NavigationBar {
  box-shadow: none;
}

.NavigationBar .panel-btn {
  top: 5px;
  left: 5px;
  width: calc(var(--nav-btn-width) - 6px);
  height: calc(var(--nav-btn-height) - 6px);
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.NavigationBar .panel-btn[data-active="true"] {
  box-shadow: 0 0 1px rgba(128, 128, 142, 0.9);
}
